.App {
    display: flex;
    justify-content: center;
}
* {
    margin: 0;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
:root {
    background: linear-gradient(90deg, #181a1e, #373a40, #484c56);
}

/* Общие стили для скроллбара */
::-webkit-scrollbar {
    width: 10px; /* ширина скроллбара */
    border-radius: 15px;
  }
  
  /* Track (полоса прокрутки) */
  ::-webkit-scrollbar-track {
    background: none; /* цвет фона полосы прокрутки */
  }
  
  /* Handle (сама полоса скроллбара) */
  ::-webkit-scrollbar-thumb {
    background: #888; /* цвет самой полосы */
    border-radius: 15px;
  }
  
  /* Handle при наведении */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* цвет полосы при наведении */
  }
  